{% extends "forum-base.html" %}
{% block title %}
    我的帖子 - 极客论坛
{% endblock %}

{%block forum_body%}
<div>
    <p>当前位置: <a href="/forum/">论坛首页</a> » 我的帖子</p>
    <p>共发表和回复了 <b>{{results|length}}</b> 条帖子</p>
</div><hr>

<div class="row-fluid">
        <div class="span10">
            {% if paged_threads.object_list %}
            <table class="table table-hover table-striped">
                <tr>
                    <th>帖子标题</th>
                    <th>作者</th>
                    <th>所属版块</th>
                    <th>发帖时间</th>
                    <th>回复/点击</th>
                    <th>最后回复</th>
                </tr>
                {% for thread in paged_threads.object_list %}
                <tr>
                    <td><a href="/forum/{{thread.forum.id}}/{{thread.id}}/">{% if thread.author.user != request.user %}[回复]{% else %}[发表]{% endif %} {{thread.title}}</a></td>
                    <td>{{thread.author}}</td>
                    <td>{{thread.forum.name}}</td>
                    <td>{{thread.submit_time|date:"Y-m-d H:i:s"}}</td>
                    <td>{{thread.reply_count}}/{{thread.clicked}}</td>
                    <td>{% if thread.latest_reply %}{{thread.latest_reply.author}} @ {{thread.latest_reply}}{% else %}暂无回复{% endif %}</td>
                </tr>
                {% endfor %}
            </table>
            <div class="pagination pull-right">
                <ul>
                {% if paged_threads.has_previous %}
                <li><a href="?page={{ paged_threads.previous_page_number }}">前一页</a></li>
                {% endif %}
                {% for page_number in threads_paginator.page_range %}
                <!--显示前两页按钮-->
                    {% if forloop.counter < 3 %}
                    <li><a href="?page={{ page_number }}">{{ page_number }}</a></li>
                    {% endif %}
                    <!--中间显示...-->
                    {% ifequal forloop.counter 3 %}
                    <li><a>...</a></li>
                    {% endifequal %}
                    <!--显示最后一页按钮-->
                    {% if forloop.counter > 2 %}
                    {% ifequal forloop.counter threads_paginator.page_range|length %}
                    <li><a href="?page={{ page_number }}">{{ page_number }}</a></li>
                    {% endifequal %}
                    {% endif %}
                {% endfor %}
                {% if paged_threads.has_next %}
                <li><a href="?page={{ paged_threads.next_page_number}}">后一页</a></li>
                {% endif %}
            </ul>
        </div><!--pagination-->

            {% else %}
            <p style="text-align:center;color:red;">您尚未发帖！</p>
            {% endif %}
        </div><!--span10-->
        <div class="span2">
            <div>
                <h6>论坛最新帖子</h6>
                {% if latest_threads %}
                <ul>
                    {% for l_thread in latest_threads %}
                    <li><a href="/forum/{{l_thread.forum.id}}/{{l_thread.id}}/">{{l_thread.title|slice:"15"}}{%if l_thread.title|length > 15%}...{%endif%}</a></li>
                    {% endfor %}
                </ul>
                {%else%}
                暂无主题
                {%endif%}
            </div>
        </div><!--span2-->
</div><!--row-->
{% endblock %}
