{% extends "base.html" %}

{% block title %}
    404
{% endblock %}

{% block pageheader %}
    Http404
{% endblock %}

{% block body %}
<div class="container">
            <div class="hero-unit">
                <div class="well modal-example" style="background-color: #888; border: none;">
                <div class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1">
                    <div class="modal-header">
                        <h3>404</h3>
                    </div>
                    <div class="modal-body">
                        <p>你访问的页面不存在...</p>
                    </div>
                    <div class="modal-footer">
                        <p>by 三叶草工作组</p>
                    </div>
                </div>
            </div>
</div>
{% endblock %}
